<% if (recommend_events.length > 0) { %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                Рекомендуемое
            </h3>
        </div>

        <div class="row">
            <div class="slider-content">
                <div class="col-lg-1 slider-button">
                    <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons"><</i><div class="ripple-container"></div></a>
                </div>
                <% recommend_events.forEach(function(event) { %>
                    <div class="col-lg-3 cart well bs-component">
                        <div class="cart-image" style="background-image: url('img/zelenaya-trava-2.jpg')"></div>
                        <div class="cart-header">
                            <h4><%= event.name %></h4>
                        </div>
                        <div class="short-description">
                            <%= event.short_description %>
                        </div>
                        <div class="col-lg-12 cart-subscribe">
                            <a href="javascript:void(0)" class="btn btn-danger">Я иду!<div class="ripple-container"></div></a>
                        </div>
                    </div>
                <% }); %>
                <div class="col-lg-1 slider-button">
                    <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">></i><div class="ripple-container"></div></a>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>