<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/ripples.css" rel="stylesheet">
    <link href="css/bootstrap-material-design.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/material.js"></script>
    <script src="js/ripples.js"></script>
    <script>
        $(document).ready(function(){
            $.material.init();
        })

    </script>

    <title>Nevet</title>
</head>
<body>
    <div class="col-lg-6">
        <div class="well bs-companent">
            <form class="form-horizontal" method="post" action="/api/events">
                <fieldset>
                    <legend>Добавить событие</legend>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Название</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Название события">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="short_description" class="col-md-2 control-label">Краткое описание</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="short_description" id="short_description" placeholder="До 40 символов">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">Описание</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="description" id="description" placeholder="Полное описание события">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-md-2 control-label">Ключевые слова</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Название события">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photos" class="col-md-2 control-label">Фотографии</label>
                        <div class="col-md-10">
                            <input type="file" class="form-control" name="photos" id="photos" placeholder="Выберете фотографии">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coordinates" class="col-md-2 control-label">Координаты или адрес места проводения</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="coordinates" id="coordinates" placeholder="Координаты или адрес">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="start_date" class="col-md-2 control-label">Когда и во сколько начинается мероприятие</label>
                        <div class="col-md-10">
                            <input type="datetime" class="form-control" name="start_date" id="start_date" placeholder="Время и дата начала">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end_date" class="col-md-2 control-label">Когда и во сколько заканчивается мероприятие</label>
                        <div class="col-md-10">
                            <input type="datetime" class="form-control" name="end_date" id="end_date" placeholder="Время и дата завершения">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="organizer_name" class="col-md-2 control-label">Имя организатора</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="organizer_name" id="organizer_name" placeholder="Введите имя организатора">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-2 control-label">Контактный телефон</label>
                        <div class="col-md-10">
                            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Введите номер контактного телефона">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category_id" class="col-md-2 control-label">Выберите категорию</label>

                        <div class="col-md-10">
                            <select name="category_id" id="category_id" multiple="" class="form-control">
                                <option>Категория 1</option>
                                <option>Категория 2</option>
                                <option>Категория 3</option>
                                <option>Категория 4</option>
                                <option>Категория 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>