<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/ripples.css" rel="stylesheet">
    <link href="css/bootstrap-material-design.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/material.js"></script>
    <script src="js/ripples.js"></script>
    <script>
        $(document).ready(function(){
            $.material.init();
        })

    </script>
    
    <title>Nevet</title>
</head>
<body>
    <div class="container" id="head">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div>
                        <div class="navbar navbar-inverse navbar-nevet nav-pills">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="javascript:void(0)">Nevet</a>
                                </div>
                                <div class="navbar-collapse collapse navbar-inverse-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="javascript:void(0)">Моя страница</a></li>
                                        <li><a href="javascript:void(0)">Мои мероприятия</a></li>
                                        <li><a href="javascript:void(0)">Рекомендации</a></li>
                                        <li><a href="javascript:void(0)">Чекины <span class="badge">42</span></a></li>

                                    </ul>
                                    <form class="navbar-form navbar-right">
                                        <div class="form-group is-empty">
                                            <input type="text" class="form-control col-md-8" placeholder="Поиск">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
                </div>
            </div>
        </div>
    </div>
    <%- include content/instrestingcontent.ejs %>
    <%- include content/popularcontent.ejs %>
    <%- include content/recommendcontent.ejs %>
</body>
</html>
