h3{
    text-align: center;
}
#calendar .pagination{
    margin-top: 0px;
    margin-bottom: 0px;
}
#calendar .row{
    margin-left: auto;
    margin-right: auto;
}
.navbar-inverse.navbar-nevet{
    background-color: #337ab7;
}
#calendar .previous-button{
    border: none;
    background-color: transparent;
}
#calendar .next-button{
    border: none;
    background-color: transparent;
}
.cart-image{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.short-description{
    text-align: center;
}
.cart-header{
    text-align: center;
}
.cart-subscribe{
    text-align: center;
}
.cart{
    margin: 10px
}
.slider-button{
    margin-top: 150px;
}
.slider-content div{

}